In [19]:
girlgroup = {
    'girlsday' : {
        'korean' : '걸스데이',
        'member' : '1,2,3,4'.split(',')
    },
    'redvelvet':{
        'korean' : '레드벨벳',
        'member' : ['4','5','6','7']
    }
}
print('grilgroup')

grilgroup

In [25]:
girlgroup['girlsday'].keys()

dict_keys(['korean', 'member'])

In [2]:
girlgroup

NameError: name 'girlgroup' is not defined

In [26]:
fruits = ['apple', 'banana', 'melon']
>>> colors = ['red', 'yellow', 'green', 'purple']
>>> for fruit, color in zip(fruits, colors):
...   print('fruit:', fruit, ' color:', color)

fruit: apple  color: red
fruit: banana  color: yellow
fruit: melon  color: green

In [118]:
fruits = 'apple,banana,melon,orage,grapefruit'.split(',')

In [55]:
color = 'red yellow green purple'.split()

In [119]:
for fruit,color in zip(fruits, colors):
    print(f'fruit: {fruit}, color: {color}')

fruit: apple, color: red
fruit: banana, color: yellow
fruit: melon, color: green
fruit: orage, color: purple

In [32]:
for fruit in fruits:
    print(fruit)

apple
banana
melon

In [41]:
for fruit in fruits:
    f = fruit
    
for color in colors:
    c = color
print (f'fruit: {f}, color: {c}')

fruit: melon, color: purple

In [61]:
index= 0
for fruit in fruits:
    print(f'fruit: {fruit}, color: {colors[index]}')
    index+=1

fruit: apple, color: red
fruit: banana, color: yellow
fruit: melon, color: green
fruit: orage, color: purple

IndexError: list index out of range

In [44]:
for index, fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 banana
2 melon

In [60]:
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 melon
3 orage
4 grapefruit

In [68]:
for index, color in enumerate(colors):
        print(fruits[index], color)

apple red
banana yellow
melon green
orage purple

In [125]:
#(index, <object>)
#fruits가 더 길어도 오류가 나지 않도록
# 1. 순회하는 iterable객체를 바꾸기 (더 짧은걸로)
# 2.순회중에 반대쪽 리스트의 index를 넘어가는 경우에 대한 처리
short_list = fruits
long_list = colors
if len(fruits) > len(colors):
    short_list = colors
    long_list=fruits
for index, item in enumerate(short_list):
    print(item,long_list[index])

red apple
yellow banana
green melon
purple orage

In [75]:
print(index)

4

In [87]:
for index_c, color in enumerate(colors):
    for index_f, fruit in enumerate(fruit):
    if index_f > a :
        print(fruit[index_c], colors)
    else : print(fruits, color[index])

0
1
2
3

In [113]:
if len(fruits) > len(colors):
    print(fruits, colors[index])
else : print(fruit[index], colors)

IndexError: list index out of range

In [124]:
#조건표현식
#튜플언패킹

short_list, long_list = (colors, fruits) if len(fruits) > len(colors) else (fruits, colors)

for index, item in enumerate(short_list):
    print(item,long_list[index])

red apple
yellow banana
green melon
purple orage

In [90]:
short = min([fruit,colors], key=len)
print(short)

['red', 'yellow', 'green', 'purple']

In [123]:
len_colors = len(colors)
#fruits가 총 5개
#colors는 총 4개
#어느 loop index에서 멈춰야 하는가
for index, fruit in enumerate(fruits):
    if index ==len_colors:
        break
    print(fruit, colors[index])

apple red
banana yellow
melon green
orage purple

In [99]:
[item for item in range(2, 11,2)]

[2, 4, 6, 8, 10]

In [100]:
[item*2 for item in range(1,6)]

[2, 4, 6, 8, 10]

In [101]:
[item for item in range(1,6) if item%2 ==0]

[2, 4]

In [122]:
for color in colors:
    for fruit in fruits:
        print(color, fruit)

red apple
red banana
red melon
red orage
red grapefruit
yellow apple
yellow banana
yellow melon
yellow orage
yellow grapefruit
green apple
green banana
green melon
green orage
green grapefruit
purple apple
purple banana
purple melon
purple orage
purple grapefruit

In [120]:
results = []
for color in colors:
    for fruit in fruits:
        results.append((color,fruit))
print(results)

[('red', 'apple'), ('red', 'banana'), ('red', 'melon'), ('red', 'orage'), ('red', 'grapefruit'), ('yellow', 'apple'), ('yellow', 'banana'), ('yellow', 'melon'), ('yellow', 'orage'), ('yellow', 'grapefruit'), ('green', 'apple'), ('green', 'banana'), ('green', 'melon'), ('green', 'orage'), ('green', 'grapefruit'), ('purple', 'apple'), ('purple', 'banana'), ('purple', 'melon'), ('purple', 'orage'), ('purple', 'grapefruit')]

In [121]:
[(color,fruit)
    for color in colors
        for fruit in fruits]

[('red', 'apple'),
 ('red', 'banana'),
 ('red', 'melon'),
 ('red', 'orage'),
 ('red', 'grapefruit'),
 ('yellow', 'apple'),
 ('yellow', 'banana'),
 ('yellow', 'melon'),
 ('yellow', 'orage'),
 ('yellow', 'grapefruit'),
 ('green', 'apple'),
 ('green', 'banana'),
 ('green', 'melon'),
 ('green', 'orage'),
 ('green', 'grapefruit'),
 ('purple', 'apple'),
 ('purple', 'banana'),
 ('purple', 'melon'),
 ('purple', 'orage'),
 ('purple', 'grapefruit')]

In [126]:
var1 = range(0,7)
var2 = range(0,4)
[(var1_1,var2_1)
 for var1_1 in var1
    for var2_1 in var2]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3)]

In [146]:
[(item1,item2) for item1 in var1 for item2 in var2]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3)]

In [177]:
for item in var1:
    for item2 in var2:
        if item%2 == 0:
            print ((item,item2))

(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)
(6, 7)
(6, 8)
(6, 9)
(8, 1)
(8, 2)
(8, 3)
(8, 4)
(8, 5)
(8, 6)
(8, 7)
(8, 8)
(8, 9)

In [175]:
var1 = range(0,7)
var2 = range(0,4)
for item, item2 in [(var1_1,var2_1)
 for var1_1 in var1
    for var2_1 in var2 if var1_1%2 == 0]:
result = item1 * item2

IndentationError: expected an indented block (<ipython-input-175-aaebbc5855fb>, line 6)

In [164]:
var3 = range(1001,2001,2)
sum(var3)

750000

In [206]:
var1 = range(1,10)
var2 = range(1,10)
for f,b in [(item1,item2) for item1 in var1 for item2 in var2]:
    result = f * b


    print('{} x {} = {}'.format(f,b,result))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [184]:
for x in range(6):
    if x %2==0:
        for y in range(3):
            print((x,y))

(0, 0)
(0, 1)
(0, 2)
(2, 0)
(2, 1)
(2, 2)
(4, 0)
(4, 1)
(4, 2)

In [185]:
[(x,y)
for x in range(6)
    if x % 2 == 0
        for y in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [187]:
result = 0
for i in range(1000,2001):
    if i%2==1:
        result += i
print(result)

750000

In [190]:
sum([x for x in range(1000,2001) if x%2==1])

750000

In [220]:
for x in range(2,10):
    print(f'{x}단')
    for y in range(1,10):
        print(f'{x}x{y} = {x * y}')
    print('')

2단
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18

3단
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

4단
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36

5단
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45

6단
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54

7단
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63

8단
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72

9단
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81

In [211]:
multiplication_table=[x*y for x in range(2,10) for y in range(1,10)]

In [224]:
for index, item in enumerate(multiplication_table):
    #첫 번째loop의 첫 번째 index = 0 -> 1
    #두 번째loop의 첫 번째 index = 9 -> 1
    #세 번째 loop의 첫 번째 Index = 18 -> 1
    if index%9 == 0:
#         print(f'{item}단')
        print(f'{index// 9+2}단')
        dan= item
    
    inner_index=index%9+ 1
    print(f'{dan} x {inner_index} = {item}')
#     print(inner_index, item)
    if index%9==8:
        print('')

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [225]:
seven_or_nine= [x for x in range(1,100) if x%7 == 0 or x%9 == 0]

In [226]:
seven_or_nine

[7,
 9,
 14,
 18,
 21,
 27,
 28,
 35,
 36,
 42,
 45,
 49,
 54,
 56,
 63,
 70,
 72,
 77,
 81,
 84,
 90,
 91,
 98,
 99]